* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.editGroupTask {
  background-color: rgb(47, 47, 53);
  color: white;
}

.editGroupTaskContainer {
  padding: 30px 0px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

form {
  height: 100vh;
}

.Profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Profile a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.Profile p {
  font-size: 22px;
}

.createTaskSec {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.taskTitle p {
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.63);
}

.taskTitle input {
  border: none;
  outline: none;
  padding: 10px 0px;
  background-color: rgb(47, 47, 53);
  color: white;
  font-size: 17px;
  width: 60%;
}

.taskTitle input:focus {
  outline: 0.001px solid rgba(32, 178, 171, 0.212);
}

.borderBottom {
  margin-top: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.171);
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.taskStuff {
  background-color: rgb(75, 75, 83);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.contents {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.contents p {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.63);
}

.contents h3 {
  font-size: 17px;
  font-weight: 600;
}

.describeBox {
  outline: none;
  padding: 10px;
  font-size: 16px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btnCreateTask {
  display: flex;
  justify-content: center;
}

.btnCreateTask button {
  padding: 10px 55px;
  border: none;
  border-radius: 23px;
  background-color: rgb(248, 117, 69);
  color: white;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

/* date */
.dateInput {
  background-color: rgb(75, 75, 83);
  border: none;
  color: white;
  font-size: 16px;
  outline: none;
}

.timeInput {
  background-color: rgb(75, 75, 83);
  border: none;
  color: white;
  font-size: 16px;
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* responsiveness starts */
/* ==> 800px */
@media (max-width: 800px) {
  .contents h3 {
    font-size: 14px;
  }
}

/* ==> 600px */
@media (max-width: 600px) {
  .editGroupTaskContainer {
    width: 70%;
  }

  .taskStuff {
    width: 200px;
  }

  .contents input {
    width: 100px;
  }
}

/* ==> 600px */
@media (max-width: 460px) {
  form {
    width: 100%;
  }

  .details {
    grid-template-columns: 1fr;
  }
}
